<!doctype html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>col-gapless</title>
		<!--
		<script src="jquery-2.1.1.js"></script>
		<script src="jquery.binddata.js"></script>
		-->
		<link rel="stylesheet" href="spectre.css" />
	 
		<style>
	
		</style>
	</head>
	<body>
		<div style="background:white;height:2.2rem ;padding-top:0.5rem">
	<header class="navbar" style="margin:0 180px auto;">
				<section class="navbar-section">&nbsp; <a href="/">Home</a>
					&nbsp; <a href="/">Jobs</a>&nbsp;
						&nbsp; <a href="/new">New</a>
				</section>
				<section class="navbar-section">
				 
				 
				</section>
			</header>
		</div>

		<div class="wrap" >
		<div class="container" style="height:1.8rem" >
			<div class="columns " >
				<div class="column col-1"> </div>
				<div class="column col-6"></div>
				<div class="column col-2"> </div>
				<div class="column col-2"> </div>
				<div class="column col-1"> </div>
			</div>
		</div>
		<div class="container">
			<div class="columns">
				<div class="column col-1"></div>
				<div class="column col-8">
					<form class="form-horizontal"  method="post">
						<div class="form-group">
							<div class="col-2 col-sm-12">
								<label class="form-label" for="input-example-4">标题</label>
							</div>
							<div class="col-9 col-sm-12">
								<input class="form-input" id="input-example-4" name="title" placeholder="Name" type="text">
							</div>
						</div>
						 <div class="form-group">
							<div class="col-2  col-sm-12">
								<label class="form-label" for="input-example-5">薪资</label>
							</div>
							<div class="col-2 col-sm-12">
								<input name="salarybase" class="form-input" id="input-example-5" placeholder="8000"  name="salary">
							</div>
								<div class="col-1 col-sm-12">  &nbsp; &nbsp;到
								</div>
						  <div class="col-2 col-sm-12">
								<input  name="salarytop" class="form-input"  id="input-example-5" placeholder="20000" name="salary"> 
							</div>
						</div>
						<div class="form-group">
							<div class="col-2 col-sm-12">
								<label class="form-label" for="input-example-5">邮箱</label>
							</div>
							<div class="col-9 col-sm-12">
								<input  name="mail"  class="form-input" id="input-example-5" placeholder="xx@oo.com" type="email">
							</div>
						</div>
						<div class="form-group">
							<div class="col-2 col-sm-12">
								<label class="form-label">性别</label>
							</div>
							<div class="col-9 col-sm-12">
								<label class="form-radio   input-inline">
									<input name="gender" type="radio" value="1"><i class="form-icon"></i> 男</label>
								<label class="form-radio">	<input name="gender" checked="" type="radio"  value="0"><i class="form-icon"></i> 女</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-2 col-sm-12">
								<label class="form-label">级别</label>
							</div>
							<div class="col-9 col-sm-12">
								<select class="form-select" multiple="0"  name="level" >
									<option value="1">初级</option>
									<option value="2">中级</option>
									<option value="3">高级</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-10 col-sm-12 col-ml-auto">
								<label class="form-switch">
									<input type="checkbox" name="is996"  value="1" ><i class="form-icon"></i> 996</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-2 col-sm-12">
								<label class="form-label" for="input-example-6">招聘要求</label>
							</div>
							<div class="col-9 col-sm-12">
								<textarea  name="description" class="form-input" id="input-example-6" placeholder="要有激情" rows="8"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-10 col-sm-12 col-ml-auto">
								<label class="form-checkbox">
									<input type="checkbox"  name="remote" value="1" ><i class="form-icon"></i> 可远程</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-10 col-sm-12 col-ml-auto">
								<button value=" 发布 " class='btn btn-primary'> 发布 </button>
							</div>
						</div>
					</form>
				</div>
				<div class="column col-2">
				
				</div>
				<div class="column col-1"> </div>
			</div>
		</div>
		<div class="container">
			<div class="columns">
				<div class="column col-1"></div>
				<div class="column col-6"> </div>
				<div class="column col-4">
				 
				</div>
				<div class="column col-1"></div>
			</div>
			<script>
				//$(document).ready(function(){  				});
			</script>
		</div>
	</div></body>

</html>
