<!doctype html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>col-gapless</title>
		<!--
		<script src="jquery-2.1.1.js"></script>
		<script src="jquery.binddata.js"></script>
		-->
		<link rel="stylesheet" href="spectre.css" />
 
		<style>
	
		</style>
	</head>
	<body>
		<div style="background:white;height:2.2rem ;padding-top:0.5rem">
	<header class="navbar" style="margin:0 180px auto;">
				<section class="navbar-section">&nbsp; <a href="/">Home</a>
					&nbsp; <a href="/">Jobs</a>&nbsp;
						&nbsp; <a href="/new">New</a>
				</section>
				<section class="navbar-section">
				 
				 
				</section>
			</header>
		</div>


 <div class="wrap" >
	<div class="container" style="height:1.8rem" >
			<div class="columns ">
				<div class="column col-1"> </div>
				<div class="column col-6"></div>
				<div class="column col-2"> </div>
				<div class="column col-2"> </div>
				<div class="column col-1"> </div>
			</div>
		</div>
		<div class="container">
			<div class="columns">
				<div class="column col-3"></div>
				<div class="column col-6"  style="padding:1.8rem">
							<div class="input-group input-inline">
						<input type="text" placeholder="search">
						<button style="background:olivedrab;color:ivory;border:none " class="btn  input-group-btn">Search</button>
					</div>
				</div>
				<div class="column col-2">
					
				</div>
				<div class="column col-1"> </div>
			</div>
		</div>
		<div class="container">
			<div class="columns">
				<div class="column col-1"></div>
				<div class="column col-8">

		

<%   @records.each do  |record| %>
<div class="tile">
  <div class="tile-icon">
    <div class="example-tile-icon">
      <i class="icon icon-file centered"><b> <%= record[:title]%></b></i>
    </div>
  </div>
  <div class="tile-content">
    <p class="tile-title"><font color="crimson" ><%= record[:salarybase]%> -  <%= record[:salarytop]%> </font></p>
    <p class="tile-subtitle">  <%= record[:discription]%>    </p>
  </div>
  <div class="tile-action">
    <button class="btn btn-primary">Join</button>
  </div>
</div><%end %>
				
			

			
				
				</div>
				<div class="column col-2">
				 
				</div>
				<div class="column col-1"></div>
			</div>
			<script>
				//$(document).ready(function(){  				});
			</script>
		</div>
	</div></body>

</html>